$gray-medium-light: #eaeaea;
$back-medium: #222;
$white_medium: #fff;
$red_color: red;
$gray_color: #bbb;
$blue_color_1: #6d7fcc;
$blue_color_2: #7386D5;
$blue_color_3: #47748b;
$black_color_1: #090909;
$while_color_1: #fafafa;
$while_color_2: #ddd;
$gray_color_1: #999;
$green_color: #008000;
$gray_color_2: #CCCCCC;
$side_bar_color: #252527;
$boder_sidebar: #565353;
